cache
templates
templates_c
static
.htaccess
_codesync
*.swp
libs/CoreLib
www/app/data/smarty/cache/*
www/app/data/smarty/templates_c/*
www/resource/_output/*
.DS_Store
.idea
.vscode
.project
.settings
.buildpath
www/app/smarty/templates
www/www/*/*
.vscode-upload.json
www/www/favicon.ico