<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue demo</title>
    <script src="js/vue.js"></script>
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<body>
    <div id="app1">
        <h1>I am #app1</h1>
        <p>Message: {{ message }}</p>
        <h1 v-bind:class="[hasError? 'red':'' ]">测试class绑定</h1>
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>
        <div v-show="showIf">我是show demo</div>
        <h2>v-for测试</h2>
        <ul>
            <li v-for="itemx in items">
                {{ item.message }}
            </li>
        </ul>
    </div>
    <script>
        var app1 = new Vue({
            el: '#app1',
            data: {
                message: '马杀鸡',
                hasError: true,
                showIf: true,
                item: {
                    message: 'itemMessage'
                },
                items: [
                    {
                        message: 'item1'
                    },
                    {
                        message: 'item2'
                    }
                ]
            },
            computed: {
                classConf: function(){
                    return {
                        red: this.hasError
                    };
                }
            }
        });
    </script>
</body>
</html>